
.scoreBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5em;
  background-color: white;
  margin: 3rem auto;
  box-shadow: 0px 0px 8px #888;
  border-radius: 0.5rem;
  font-weight: bold;
}

.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.xscore {
  color: rgb(255, 85, 55);
  --border-bottom: 5px solid rgb(255, 85, 55);
  border-radius: 0.5rem 0 0 0.5rem;
  animation: appear 0.3s ease-in-out forwards;
}

.oscore {
  color: rgb(44, 127, 237);
  --border-bottom: 5px solid rgb(44, 127, 237);
  border-radius: 0 0.5rem 0.5rem 0;
  animation: appear 0.5s ease-in-out forwards;
}

.inactive {
  animation: disappear 0.5s ease-in-out forwards;
}

/* animation */
@keyframes disappear {
  0% {
    border-bottom: var(--border-bottom);
  }
  50% {
    border-bottom: var(--border-bottom);
  }
  100% {
    border-bottom: 5px solid transparent;
  }
}

/* animation */
@keyframes appear {
  0% {
    border-bottom: 5px solid transparent;
  }
  50% {
    border-bottom: 5px solid transparent;
  }
  100% {
    border-bottom: var(--border-bottom);
  }
}